body {
  margin: 0; /* This is used to reset any browser-default margins */
}
* {
  box-sizing: border-box;
}
.back-image {
  background-color: #282a36;
  background-image: url("../resources/background/404.svg");
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  height: 100vh;
  -webkit-filter: blur(2px);
  padding: 10px 10px;
}

.error-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.home-button {
  border-radius: 15px;
  border: 0px;
  font-size: small;
}
.home-button:hover {
  background-color: #bd93f9;
}
