body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.menu {
  background-color: #000000;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.main-menu {
  display: block;
}

.profile {
  position: absolute;
  left: 45%;
  top: 35%;
  width: 45%;
  text-align: left;
  color: white;
  display: inline-block;
  opacity: 100 !important;
}
.profile-pic {
  position: absolute;
  left: 25%;
  top: 35%;
  width: 100%;
  text-align: left;
  color: #000;
  display: inline-block;
  border-radius: 100%;
  max-width: 15%;
  opacity: 1 !important;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.paralax1,
.paralax2 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}
.paralax1 {
  background-image: url("../resources/background/paralax1.jpg");
  min-height: 100%;
  height: 100vh;
}

.paralax2 {
  background-image: url("../resources/background/paralax2.jpg");
  min-height: 100%;
}

.language-switch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.language-switch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.language-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.language-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.language-switch-inner:before,
.language-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.language-switch-inner:before {
  content: "SPANISH";
  padding-left: 8px;
  background-color: #eeeeee;
  color: #999999;
}
.language-switch-inner:after {
  content: "ENGLISH";
  padding-right: 8px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.language-switch-switch {
  display: block;
  width: 12px;
  margin: 9px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.language-switch-checkbox:checked
  + .language-switch-label
  .language-switch-inner {
  margin-left: 0;
}
.language-switch-checkbox:checked
  + .language-switch-label
  .language-switch-switch {
  right: 0px;
}

@media screen and (max-width: 1080px) {
  .paralax1 {
    background-attachment: scroll;
    background-image: linear-gradient(
      to top,
      rgba(34, 103, 252, 0.315),
      rgb(87, 0, 128)
    );
  }
  .paralax2 {
    background-attachment: scroll;
    background-image: linear-gradient(to top, rgb(133, 0, 0), rgb(128, 109, 0));
  }
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 10, /Users/ick.kramer/code/resume/source/stylesheets/layouts/_sidebar.scss */
.sidebar ul {
  list-style: none;
  padding: 0px;
}
/* line 14, /Users/ick.kramer/code/resume/source/stylesheets/layouts/_sidebar.scss */
.sidebar li {
  margin-top: 35px;
  margin-bottom: 35px;
}
/* line 18, /Users/ick.kramer/code/resume/source/stylesheets/layouts/_sidebar.scss */
.sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: #ededed;
  font-weight: 400;
}
/* line 24, /Users/ick.kramer/code/resume/source/stylesheets/layouts/_sidebar.scss */
.sidebar a:hover {
  color: rgba(67, 144, 168, 0.9);
}

/* line 31, /Users/ick.kramer/code/resume/source/stylesheets/layouts/_sidebar.scss */
.sidebar.fixed {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
